body {
  background: linear-gradient(to bottom, #e30016, #ffffff);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: white;
  width: 330px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.header {
  background: #e30016;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.logo {
  background: white;
  color: #e30016;
  padding: 2px 8px;
  font-weight: bold;
  border-radius: 5px;
}

.photo {
  width: 120px;
  height: 160px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid #e30016;
}

.info {
  margin-top: 10px;
}

.button {
  display: block;
  background: #e30016;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.note {
  font-size: 13px;
  margin-top: 8px;
  color: #555;
}
